<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.zaczek.PTalkingBrowser"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="3" />
    <application android:icon="@drawable/home_icon" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:debuggable="true">
        <activity android:name=".Main" android:label="@string/app_name"
			android:icon="@drawable/overview_icon">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="parrot.CATEGORY" />
			</intent-filter>
		</activity>
		<activity android:name=".ArticleList" android:label="Article List"
			android:icon="@drawable/overview_icon">
		</activity>
		<activity android:name=".Article" android:label="Article"
			android:icon="@drawable/overview_icon">
		</activity>
		<activity android:name=".About" android:label="About">
		</activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
</manifest>